
$color-text: #000;
$color-background: #fcfcfc;
$color-nav-background: #333;
$color-link: #2A5DB0;
$color-link--hover: darken(#2A5DB0, 5%);
$color-link--visited: darken(#2A5DB0, 5%);

$color-sign-unknown: #888;
$color-sign-available: #00B244;
$color-sign-not-available: #B21209;

$color-status-text-unknown: #444;
$color-status-text-available: $color-sign-available;
$color-status-text-not-available: $color-sign-not-available;
$color-detail-text: #999;

$color-alert-button: #444;
$color-alert-button--hover: #222;

$color-stale-data-slight: #997A32;
$color-stale-data-medium: #C97018;
$color-stale-data-major: $color-sign-not-available;
